html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #333;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

[data-scroll-container] {
    overflow: hidden;
}

.fixed-position {
    position: fixed;
    width: 100%;
    overflow: hidden;
}

#page-content {
    flex: 1;
    transition: filter 0.3s ease;
}

.blur {
    filter: blur(5px);
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

nav {
    background-color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    position: relative;
}

nav ul li.selected a {
    color: #556B2F;
    text-decoration: none;
}

nav ul li.selected a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: #556B2F;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #556B2F;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    margin-bottom: 11px;
    flex-wrap: nowrap;
}

.social-links img {
    width: 27px;
    height: 27px;
}

main {
    flex: 1;
    padding: 0 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio {
    text-align: center;
    margin-top: 20px;
}

.portfolio-grid {
    column-count: 3;
    column-gap: 20px;
    margin-top: 20px;
}

.portfolio-grid img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
}

body.fixed {
    overflow: hidden;
}

.lightbox {
    display: none; /* Esconde o lightbox inicialmente */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9); /* Cor de fundo com opacidade */
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%; /* Aumente a largura geral */
    height: 85%;
    max-width: 90%; /* Aumente a largura máxima */
    max-height: 90%;
    box-sizing: border-box;
    overflow: hidden;
}

.lightbox-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-right: 20px;
    box-sizing: border-box;
}

.info-box {
    color: white;
    max-width: 40%;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.info-box h2,
.info-box p {
    margin: 0;
    margin-bottom: 10px;
}

.lightbox .prev,
.lightbox .next,
.lightbox .close {
    position: absolute;
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
}

.lightbox .prev,
.lightbox .next {
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.4);
}

.lightbox .prev {
    left: 20px;
    border-radius: 3px 0 0 3px;
}

.lightbox .next {
    right: 20px;
    border-radius: 0 3px 3px 0;
}

.lightbox .prev:hover,
.lightbox .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.lightbox .close:hover,
.lightbox .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    .lightbox-content {
        flex-direction: row;
        align-items: center;
    }

    .lightbox-content img {
        max-width: 90%;
        max-height: 90%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .info-box {
        color: white;
        max-width: 100%;
        max-height: 100%;
        overflow-y: auto;
        box-sizing: border-box;
        margin-left: 1em;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .info-box h2,
    .info-box h3 { /* Adiciona h3 aqui */
        font-size: 1.5em;
    }

    .info-box p {
        font-size: 1em;
    }

}

@media screen and (max-width: 1450px) {
    .lightbox-content {
        flex-direction: column;
        align-items: center;
    }

    .lightbox-content img {
        max-width: 100%;
        max-height: 70%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .info-box {
        max-width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .info-box h2,
    .info-box h3 { /* Adiciona h3 aqui */
        font-size: 1.2em;
    }

    .info-box p {
        font-size: 0.9em;
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    color: #333;
    margin-top: auto;
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.work-block {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.work-block img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.work-info {
    display: flex;
    flex-direction: column;
}

.work-title {
    display: block;
    font-size: 1.25em;
    margin-block-start: 1em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: #333;
    text-decoration-color: #333; /* Adicionado */
}

.work-subtitle {
    display: block;
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
    unicode-bidi: isolate;
    color: #7a7a7a;
    text-decoration-color: #7a7a7a; /* Adicionado */
}

.work-text {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #afafaf;
    text-decoration-color: #afafaf; /* Adicionado */
}

.about-text {
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

@media (max-width: 1200px) {
    .portfolio-grid, .portfolio-ben10-grid-2, .portfolio-ben10-grid {
        column-count: 3;
    }
}

@media (max-width: 768px) {
    .portfolio-grid, .portfolio-ben10-grid-2, .portfolio-ben10-grid {
        column-count: 2;
    }

    header h1 {
        font-size: 2em;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
    }

    nav ul li {
        margin: 0 10px;
    }

    nav ul li a {
        font-size: 1em;
    }

    .social-links {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .about-text {
        padding: 10px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .work-block {
        flex-direction: column;
        align-items: center;
    }

    .work-block img {
        width: 100px;
    }

    .work-info {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .portfolio-grid, .portfolio-ben10-grid-2, .portfolio-ben10-grid {
        column-count: 2;
    }

    .profile-pic {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    .social-links {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;
    }

    .social-links img {
        width: 24px;
        height: 24px;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding-left: 0px;
        gap: 5px;
    }

    nav ul li {
        margin: 0 5px;
    }

    nav ul li a {
        font-size: 0.9em;
    }

    .about-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-intro {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-intro img {
        margin-top: 20px;
    }

    .about-text {
        padding: 10px;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .story-text {
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .story-image {
        margin-top: 20px;
        width: 100%;
    }

    .work-block {
        flex-direction: column;
        align-items: center;
    }

    .work-block img {
        width: 100px;
    }

    .work-info {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 320px) {
    .portfolio-grid, .portfolio-ben10-grid-2, .portfolio-ben10-grid {
        column-count: 1;
        column-gap: 10px;
    }
    .about-text {
        padding: 10px;
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .story-text {
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.reenie-beanie-regular {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.faq-title {
    font-size: 4em;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

.about-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-image {
    margin-top: 20px;
    width: 40%;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: left;
}

.about .about-text, .about .story-text {
    text-align: center;
    line-height: 1.4;
    margin: 10px 0;
}

.story-text {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.story-image {
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .header-title {
        font-size: 3em;
        text-align: center;
    }

    .profile-pic {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .header-title {
        font-size: 2.5em;
    }

    .profile-pic {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
    
    .work-title {
        text-align: center;
    }
}

@media (max-width: 320px) {
    .portfolio-grid {
        column-count: 1;
        column-gap: 10px;
    }

    .about-title {
        font-size: 3em;
        text-align: center;
    }

    .work-title {
        text-align: center;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
}

.contact-form label {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #131313;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    align-self: center;
}

.contact-form button {
    padding: 0.8em 1.8em;
    border: 1px solid #556B2F;
    border-radius: 50px;
    background-color: #ffffff;
    color: #556B2F;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 auto;
    display: block;
}

.contact-form button:hover {
    background-color: #556B2F;
    color: #ffffff;
}

a {
    color: #131313;
    text-decoration: underline;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #131313;
}

.portfolio-ben10,
.portfolio-ben10-2 {
    text-align: center;
    margin-top: 20px;
}

.portfolio-ben10-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas fixas */
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
}

.portfolio-ben10-grid img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-ben10-grid img:hover,
.portfolio-ben10-grid-2 img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.portfolio-ben10-grid-2 {
    column-count: 3;
    column-gap: 20px; /* Ajuste o valor conforme necessário */
    margin-top: 20px;
}

.portfolio-ben10-grid-2 img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
}

/* Responsividade para telas menores */
@media (max-width: 720px) {
    .portfolio-ben10-grid-2, .portfolio-ben10-grid {
        column-count: 2;
    }
}

@media (max-width: 320px) {
    .portfolio-ben10-grid-2, .portfolio-ben10-grid {
        column-count: 1;
    }
}

@media (max-width: 720px) {
    .portfolio-ben10-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 320px) {
    .portfolio-ben10-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.portfolio-missao {
    text-align: center;
    margin-top: 20px;
}

.portfolio-missao-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 colunas fixas */
    gap: 10px;
    margin-top: 20px;
    justify-items: center;
}

.portfolio-missao-grid img {
    width: 80%; /* Reduz a largura das imagens para 80% */
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-missao-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#mailtoher {
    padding-left: 20%;
    padding-right: 20%;
}

.story-text {
    padding-left: 15%;
    padding-right: 15%;
}

/* Responsividade para telas menores */
@media (max-width: 720px) {
    .portfolio-missao-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    #mailtoher {
        padding-left: 10%;
        padding-right: 10%;

    }
    .story-text {
        padding-left: 10%;
        padding-right: 10%;
    }

@media (max-width: 320px) {
    .portfolio-missao-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    #mailtoher {
        padding-left: 0%;
        padding-right: 0%;
    }
    }
    .about-image {
        width: 60%;
    }
    .story-text {
        padding-left: 3%;
        padding-right: 3%;
    }

}

.price-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

/* Ajustando o tamanho das imagens dentro dos cartões de preços */
.price-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Garantindo que o texto dentro dos cartões seja proporcional */
.price-card h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

.price-card p {
    font-size: 1em;
    margin: 10px 0;
}

.price-card ul {
    padding-left: 20px;
    list-style-type: disc;
    font-size: 1em;
}

/* Ajustando a exibição em diferentes larguras de tela */
@media (max-width: 768px) {
    .price-cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }

    .price-card h3 {
        font-size: 1.2em;
    }

    .price-card p, .price-card ul {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .price-cards {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .price-card h3 {
        font-size: 1em;
    }

    .price-card p, .price-card ul {
        font-size: 0.8em;
    }
}

.details {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-top: 3em;
}

.details-item {
    background-color: #f8f8f2;
    padding: 20px;
    border-radius: 5px;
    width: 45%;
    box-sizing: border-box;
}

.faq-title {
    font-family: 'Reenie Beanie', cursive;
    font-size: 4em;
    color: #000000;
}

.details h2 {
    font-size: 3em;
    color: #000000; /* Ajuste a cor conforme necessário */
}

.details ul {
    padding-left: 20px;
    list-style-type: disc;
}

.details ul li {
    font-size: 1em;
    line-height: 1.5;
    color: #333; /* Ajuste a cor do texto conforme necessário */
}

.separator {
    width: 80%;
    height: 1px;
    background-color: #050e087a; /* Cor da barra de separação */
    margin: 10px auto; /* Espaço entre a barra e o texto */
}

.separator2 {
    width: 70%;
    height: 1px;
    background-color: #050e087a; /* Cor da barra de separação */
    margin: 10px auto; /* Espaço entre a barra e o texto */
}
.separator3 {
    width: 100%;
    height: 1px;
    background-color: #050e087a; /* Cor da barra de separação */
    margin: 10px auto; /* Espaço entre a barra e o texto */
    margin-top: 2em;
    margin-bottom: 2em;
}

section {
    display: block;
    unicode-bidi: isolate;
    margin-bottom: 2em;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .details {
        flex-direction: column;
        align-items: center;
    }

    .details-item {
        width: 90%;
        margin-bottom: 20px;
    }

    .faq-title {
        font-size: 1.5em;
    }

    .details ul li {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .faq-title {
        font-size: 1.2em;
    }

    .details ul li {
        font-size: 0.8em;
    }
}
/* Estilos para a seção de Perguntas Frequentes */
.faq {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.faq h2 {
    font-size: 4em;
    color: #000000; /* Ajuste a cor conforme necessário */
    margin-bottom: 20px;
    margin-block-start: 0;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-item input {
    display: none;
}

.faq-item label {
    font-size: 1em;
    display: block;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #f8f8f2;
    transition: background 0.3s ease;
}

.faq-item input:checked + label {
    background: #f8f8f2;
}

.faq-item .faq-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-10px);
    padding-left: 10px;
}

.faq-item input:checked + label + .faq-content {
    max-height: 1000px; /* Valor suficiente para o conteúdo expandido */
    opacity: 1;
    transform: translateY(0);
    padding: 10px 10px 10px 20px;
}

.faq-item .faq-content p {
    margin: 0;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .faq h2 {
        font-size: 1.5em;
    }

    .faq-item label {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .faq h2 {
        font-size: 2em;
        text-align: center;
    }

    .faq-item label {
        font-size: 0.8em;
    }
}


/* Estilos para o botão de "Voltar ao topo" */
#backToTop {
    display: none; /* Esconde o botão inicialmente */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#backToTop:hover {
    background-color: #555;
}

#included  {

    margin-block-start: 0.2em;

}

#pleasenote {
    text-align: center;
    size: 2em;
}

#textnote {

    text-align: center;
    padding: 5px;
    padding-left: 20%;
    padding-right: 20%;

}

.donation-section {
    max-width: 400px; /* Largura menor para a div */
    margin: 0 auto;
    text-align: center; /* Centraliza o texto */
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: #f8f8f2; /* Cor de fundo */
    border-radius: 15px; /* Bordas arredondadas */
    padding: 20px; /* Adiciona espaçamento interno */
}


.donation-section h3 {
    margin-bottom: 10px;
    font-size: 3em;
    text-align: center;
    font-family: 'Reenie Beanie', cursive; /* Fonte Reenie Beanie */
    color: #131313;
    margin-top: 10px;
}

.donation-section p {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #131313;
}

.donation-buttons {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os botões */
}

.donation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Largura total do contêiner */
    max-width: 300px; /* Largura máxima dos botões */
    padding: 0.8em 3em; /* Mais largo horizontalmente */
    margin: 10px 0;
    border: 1px solid #556B2F;
    border-radius: 50px;
    background-color: #ffffff;
    color: #556B2F;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.donation-button:hover {
    background-color: #556B2F;
    color: #ffffff;
    text-decoration: none;
}

.waitlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0; /* Ajuste o espaço acima e abaixo do contêiner */
}

#waitnote {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px; /* Espaço entre o texto e o botão */
}

.waitlist-button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px; /* Largura máxima do botão */
    padding: 0.8em 2em; /* Mais largo horizontalmente */
    margin: 10px 0; /* Ajuste para espaço acima e abaixo do botão */
    border: 1px solid #556B2F;
    border-radius: 50px;
    background-color: #ffffff;
    color: #556B2F;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.waitlist-button:hover {
    background-color: #556B2F;
    color: #ffffff;
    text-decoration: none;
}

.donation-button img {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    width: 24px; /* Ajuste conforme necessário */
    height: 24px; /* Ajuste conforme necessário */
}

@media screen and (max-width: 460px) {
    .donation-button {
        max-width: 250px; /* Largura máxima reduzida para telas menores */
        padding: 0.6em 2em; /* Redução do espaçamento horizontal */
        font-size: 0.9rem; /* Redução do tamanho da fonte */
    }
}

@media screen and (max-width: 360px) {
    .donation-button {
        max-width: 150px; /* Largura máxima reduzida para telas menores */
        padding: 0.6em 2em; /* Redução do espaçamento horizontal */
        font-size: 0.9rem; /* Redução do tamanho da fonte */
    }
}

/* Estilos para a seção de termos e condições */
.terms-section {
    padding: 40px;
    background: #f9f9f9;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    animation: slideInDown 0.5s ease-in-out;
}

.terms-title {
    font-size: 2.5em;
    text-align: center;
    margin: 20px 0;
    color: #191d11;
    font-family: "Reenie Beanie", cursive;
    animation: slideInDown 0.5s ease-in-out;
    margin-top: 0px;
}

.terms-list {
    list-style: none;
    padding: 0;
    animation: fadeInUp 0.5s ease-in-out;
}

.terms-list li {
    background: #fff;
    border-left: 5px solid #556B2F;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.terms-list li h3 {
    margin-top: 0;
    font-size: 1.7em;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.terms-list li p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/* Botões */
.button-container {
    text-align: center;
    margin-top: 30px;
}

.accept-button, .decline-button {
    padding: 0.8em 2em;
    border: 1px solid #556B2F;
    border-radius: 50px;
    background-color: #fff;
    color: #556B2F;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.accept-button:hover, .decline-button:hover {
    background-color: #556B2F;
    color: #ffffff;
}

/* Animações */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .header-title {
        font-size: 2em;
    }

    .terms-title {
        font-size: 2em;
    }

    .terms-list li h3 {
        font-size: 1.4em;
    }

    .terms-list li p {
        font-size: 1em;
    }

    .accept-button, .decline-button {
        font-size: 0.9rem;
        padding: 0.7em 1.5em;
    }
}

@media (max-width: 420px) {
    .accept-button, .decline-button {
        display: block;
        width: 80%;
        margin: 10px auto;
    }
}

